.national_games_wrapper {
  height: 670px;
  box-sizing: border-box;
  padding: 50px 0;

  .container {
    height: 100%;
  }

  .national_games_header {
    height: 30%;

    h3 {
      font-weight: 700;
      font-size: 40px;
      line-height: 47px;
      color: #141414;
      margin-bottom: 20px;
    }

    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 34px;
      width: 35%;
      margin-left: 100px;
    }

    .carousel__header::before {
      content: "";
      display: inline-block;
      width: 70px;
      height: 4px;
      background-color: #141414;
      border-radius: 10px;
      margin-right: 30px;
      transform: translateY(-15px);
}
  }
}