.planning__header {
  display: flex;
  // justify-content: flex-start;
  align-items: center;
  height: 100vh;

  .planning__header--content {
    width: 50%;

    .planning__header--title {
      font-weight: 800;
      font-size: 45px;
      line-height: 50px;
      color: #141414;
      margin-bottom: 20px;
    }

    .planning__header--text {
      font-weight: 500;
      font-size: 20px;
      line-height: 34px;
      color: #959D9E;
      width: 70%;
      margin-bottom: 60px;
    }

    .planning__header--btn {
      background: rgba(56, 138, 123, 0.2);
      border: 1px solid rgba(40, 93, 83, 0.5);
      border-radius: 20px;
      padding: 18px 50px;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      color: #285D53;
      position: relative;
      // z-index: 5;
      cursor: pointer;
      margin-top: 20px;
    }
  }

  .planning__header--img--block {
    position: relative;
    margin-left: 40px;
    width: 400px;
    height: 520px;
    background: url('../../Assets/planningPerson.png') no-repeat;
    background-size: 100% 100%;

    .planning__header--img1 {
      position: absolute;
      top: 10px;
      left: -100px;
    }

    .planning__header--img2,
    .planning__header--img3 {
      height: 200px;
      width: 200px;
      text-align: center;
      background: #FFFFFF;
      box-shadow: -13px 0px 90px rgba(176, 176, 176, 0.3);
      border-radius: 30px;
      padding: 20px;

      h3 {
        font-weight: 500;
        font-size: 22px;
        line-height: 20px;
        color: #285D53;
        margin: 5px 0;
      }

      p {
        font-weight: 500;

      }
    }

    .planning__header--img2 {
      position: absolute;
      top: 40px;
      right: -100px;
    }

    .planning__header--img3 {
      position: absolute;
      bottom: 40px;
      left: -100px;
    }
  }

  .planning__header--img4 {
    position: absolute;
    top: 80px;
    left: 100px;
  }

  .planning__header--ellipse1 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .planning__header--ellipse2 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}