.filter__card--wrapper {
  border: 1px solid #D8D8D8;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  margin-bottom: 20px;

  .filter__card--img--block {
    width: 250px;

    img {
      height: 100%;
      width: 100%;
      border-radius: 20px;
    }
  }

  .fiter__card--info {
    padding-left: 40px;

    .filter-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 15px;
    }

    .filter-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: rgba(24, 23, 32, 0.5);
      margin-bottom: 20px;
      width: 80%;
    }

    .filter-link {
      color: #285D53;
      font-weight: 500;
      font-size: 20px;
      line-height: 34px;
      svg{
        margin-left: 10px;
      }
    }
  }
}