.card__head {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  color: #000000;
  text-align: center;
}

.card__text {
  width: 533px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  opacity: 0.6;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.card__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}