.header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        margin-right: 30px;
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__item--link {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #141414;
    }
    .active{
        padding-bottom: 10px;
        border-bottom: 2px solid #285D53;
        color: #285D53;
        font-weight: 600;
    }

    &__select{
        padding: 10px;
        border-radius: 20px;
        background-color: rgb(220, 220, 220);
        margin-right: 20px;
    }

    &__search--input{
        max-width: 155px;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        background-color: rgb(220, 220, 220);
        margin-right: 20px;
        padding-left: 40px;
        border: none;
    }

    &__search--input{

    }

    &__search{
        position: relative;
        left: 40px;
    }


}

.select__wrapper{
    display: flex;
    align-items: center;
}

.input__wrapper{
    display: flex;
    align-items: center;
}

