.home__carousel {
  height: 600px;
  position: relative;
  margin-bottom: 80px;

  .container {
    height: 100%;
  }

  .carousel__block {
    height: 90%;

    .slick-slider {
      height: 100%;
      position: relative;
    }

    .slick-list,
    .slick-slide {
      height: 100% !important;

      div {
        height: 100% !important;
      }
    }

    .slick-dots {
      bottom: 130px;
    }

    .slick-dots li button:before {
      font-size: 12px;
      color: #fff;
    }

    .slick-arrow {
      background: transparent;
      border: 2px solid #fff;
      height: 48px !important;
      width: 48px !important;
      border-radius: 50%;
      z-index: 3;
      top: 46%;

      &::before {
        font-size: 30px;
        color: #fff;
      }

    }

    .slick-prev {
      left: 475px;

      &::before {
        content: '🠔';
        border: none;
      }
    }

    .slick-next {
      right: 475px;

      &::before {
        content: '🠖';
        border: none;
      }
    }

    .carousel__item {
      height: 100% !important;
      overflow: hidden;
      position: relative;

      .carousel__item--img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        z-index: 3;
      }

      .carousel__item--content {
        z-index: 5;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .carousel__item--title {
          margin-top: 80px;
          margin-bottom: 15px;
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          color: #fff;
        }

        .carousel__item--subtitle {
          font-weight: 800;
          font-size: 68px;
          line-height: 80px;
          margin-bottom: 30px;
          color: #fff;

        }

        .carousel__item--text {
          font-weight: 500;
          font-size: 28px;
          line-height: 33px;
          color: #fff;

        }
      }
    }
  }
}


@media (min-width:0) and (max-width:446.9px) {
  .home__carousel {
    height: 500px;
    margin-bottom: 0;

    .carousel__block {
      height: 90%;

      .slick-arrow {
        height: 45px !important;
        width: 45px !important;
        border-radius: 50%;
        top: 63%;
      }

      .slick-prev {
        left: 25px;
      }

      .slick-next {
        right: 25px;
      }

      .carousel__item {
        .carousel__item--content {
          .carousel__item--title {
            margin-top: 80px;
            margin-bottom: 15px;
            font-size: 18px;
            line-height: 22px;
          }

          .carousel__item--subtitle {
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 30px;
          }

          .carousel__item--text {
            font-size: 18px;
            line-height: 30px;
            margin-top: 20px;
          }
        }
      }
    }
  }
}