.information__head{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    color: #000000;
}

.information__text {
    max-width: 533px;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 38px;
    color: #000000;
    opacity: 0.6;
    margin: 0 auto;
    margin-top: 20px;
}

.information__list {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
    justify-content: center;
}

.information__item{
    padding: 20px;
    border: 1px solid #999;
    margin-top: 60px;
    margin-right: 30px;
    border-radius: 10px;
}

.information__item--img{
    display: flex;
    margin: 0 auto !important;
    padding-bottom: 50px;
}

.information__item--head{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.02em;
    color: #181720;
    text-align: center;
}

.information__item--text{
    max-width: 340px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(24, 23, 32, 0.5);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.information__item--link{
    max-width: 150px;
    width: 100%;
    padding: 12px;
    border: 2px solid rgba(56, 138, 123, 0.2);
    border-radius: 10px;
    background: rgba(56, 138, 123, 0.2);
    margin: 0 auto;
    display: block;
    text-align: center;
    color: #285D53;
}