.sticky {
    height: 70px;
    width: 100%;
    z-index: 111;
    background-color: #fff;
    box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px !important;
    animation-name: sticky_active;
    animation-duration: 0.8s;
}

@keyframes sticky_active {
    0% {
        opacity: 0;
        top: -70px;
        padding: 20px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

.header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        margin-right: 30px;
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__item__link {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #141414;

        &:hover {
            color: #285D53;
        }
    }

    &__select {
        margin-right: 10px;
    }

    &__search {
        margin-right: 10px;
    }

}

.ant-select {
    margin-right: 10px !important;
}

.ant-select-selector {
    border-radius: 20px !important;
    font-size: 14px !important;
    background: rgba(40, 93, 83, 0.1) !important;
    font-weight:600 !important;

    &:hover {
        transition: all 0.2s linear;
        border: 1px solid #285D53 !important;
    }
}
.ant-select-selection-item{
    font-weight: 600 !important;
}
.active::after {
    content: "";
    display: block;
    width: 60%;
    height: 1px;
    background-color: #285D53;
    margin: 0 auto;
    transform: translateY(10px);
    font-weight: 600;
    color: #285D53;
}

.active {
    font-weight: 600;
    color: #285D53;
}

.active a {
    color: #285D53;
    font-weight: 600;
}


.select__wrapper {
    display: flex;
    align-items: center;
}

.input__wrapper {
    display: flex;
    align-items: center;
    max-width: 135px;
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    background: rgba(40, 93, 83, 0.1) !important;
    border: 1px solid transparent;
    transition: all 0.2s linear;

    &:hover {
        transition: all 0.2s linear;
        border: 1px solid #285D53;
    }
}

.header__search--input {
    color: #141414;
    padding: 0 10px;
    font-weight: 500;

    &:hover {
        color: #141414;
    }
}