.section__footer {
    margin-top: 50px;
    background: linear-gradient(to top, #28544c, #34AA94);
}

.footer {
    position: relative;
    overflow: hidden;
}

.footer__img {
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
}

.footer__left {
    padding-top: 60px;
}

.footer__list {
    margin: 0;
    padding: 0;
    margin-top: 68px;
}

.footer__list2 {
    margin: 0;
    padding: 0;
    margin-top: 68px;
    margin-left: 70px;
}

.footer__item {
    margin-top: 20px;
}

.footer__item--link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    &:hover{
        color: #fff;
    }
}

.footer__wrapper {
    display: flex;
}

.footer__foot {
    position: relative;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 4;
}

.foot__text {
    width: 307px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #FFFFFF;
}

.foot__links {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .foot__links--box {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        a {
            padding: 8px 12px;
        }
    }
}

.texting {
    text-align: right;
}


@media (min-width:0) and (max-width:446.9px) {
    .section__footer {
        background: linear-gradient(to top, #28544c, #34AA94);
    }
    
    .footer {
        position: relative;
        overflow: hidden;
    }
    
    .footer__img {
        position: absolute;
        top: 100px;
        right: 0;
        bottom: 0;
    
    }
    
    .footer__left {
        padding-top: 60px;
    }
    
    .footer__list {
        margin: 0;
        padding: 0;
        margin-top: 68px;
    }
    
    .footer__list2 {
        margin: 0;
        padding: 0;
        margin-top: 68px;
        margin-left: 70px;
    }
    
    .footer__item {
        margin-top: 20px;
    }
    
    .footer__item--link {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
        &:hover{
            color: #fff;
        }
    }
    
    .footer__wrapper {
        display: flex;
    }
    
    .footer__foot {
        margin-top: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 4;
    }
    
    .foot__text {
        width: 307px;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 28px;
        color: #FFFFFF;
    }
    
    .foot__links {
        display: flex;
        align-items: center;
        justify-content: space-around;
    
        .foot__links--box {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            border: 1px solid #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            a {
                padding: 8px 12px;
            }
        }
    }
    
    .texting {
        text-align: right;
    }
    
    
}