.national_food_wrapper {
  background: url('../../Assets/images/backgroundFood.png') no-repeat;
  background-size: 120% 100%;

  .last_carousel_header {
    h3 {
      color: #fff;
    }
  }

  .carousel__title::before {
    background-color: #fff !important;
  }

  .last_carousel_block {
    .slick-arrow {
      border: 2px solid #fff !important;
      background: transparent;
      z-index: 3;
      opacity: 1;
      
      &::before {
        color: #fff;
      }
    }
  }
}